pre {
    background-color: black;
    font-size: 16px;
    padding: 20px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 260px;
}

pre[class*="language-"] {
    color: rgb(235, 231, 231);
    text-shadow: none;
}

.code {

    justify-content: center;

}

.code-block {
    overflow-y: auto;
    margin: 0 auto;
    max-height: 350px;
    width: 80%;
}

select {
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
    background-color: #161515;
    color: white;
    border: none;
    font-family: Verdana;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M1%202.5L4%205.5L7%202.5H1z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
}



select option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    font-size: 12px;
    padding: 5px;
    background-color: #0c7587;
    width: 100%;
    color: white;
    border: none;


}

pre {
    background-color: black;
    font-size: 16px;
    padding: 20px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 260px;
    /* 新增 */
}

pre[class*="language-"] {
    color: rgb(235, 231, 231);
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(7, 7, 61);
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar-thumb:hover {
    background-color: black;
}