*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}
i {
  font-style: normal;
  color: #FCA311;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 3%;
  background-color: black;
}

.title p{
  font-family: 'Geo',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.35vw;
  margin:0 auto;
  padding: 0 auto;
  color: white;
}

#grey {
  color: #B9B9B9;
}